*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
}
nav{
    display: flex;
    font-size: 20px;
    width: 200px;
}
section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    margin-left: 80px;
}
.head{
    position: relative;
    left: 100px;
}
.addList,.addItem{
    display: none;
    width: 300px;
    height: 130px;
    position: fixed;
}
.shadow{
    filter: blur(8px);
}
.upperbar{
    display: none;
    justify-content: space-around;
}
.back{
    display: inline-block;
}
.box{
    width: 200px;
    height: 300px;
    background-color: aqua;
    border: 5px solid gray;
    border-radius: 20px;
}
.deleteClass img{
    width: 30px;
    height: 30px;
}
.addButton{
    width: 30px;
    height: 30px;
}
.Markdown{
    display: flex;
    background-color: chartreuse;
}
.line{
    text-decoration: line-through;
    color: deeppink;
}
